<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<head>
    <title>Cines</title>
    <th:replace th:replace="~{fragments/meta :: meta}" />
</head>
<body class="d-flex flex-column vh-100">
<div th:replace="~{fragments/spinner :: spinner}"></div>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<div class="flex-grow-1">
<div th:replace="~{fragments/messageAlert :: messageAlert}"></div>
<div th:replace="~{fragments/cookieWarning :: cookieWarning}"></div>

<div class="container mt-5 p-2 p-md-3 p-lg-4 bg-white bg-opacity-75 rounded-4 shadow text-center">

    <h1 class="cartelera-h1 mt-4">Cines<span th:if="${session.selectedCity != '' && error == null}" th:text="| de ${session.selectedCity}|"></span></h1>

    <h2 th:if="${error != null || (#lists.isEmpty(cinemas) || #lists.isEmpty(cinemas.content))}"
        th:text="${error}" role="alert" class="col mt-3 alert alert-danger"></h2>

    <div th:if="${error == null && (#lists.size(cinemas) > 0 || #lists.size(cinemas.content) > 0)}" class="row mt-4">

        <div th:each="cinema : ${cinemas}" class="col d-flex flex-column align-items-center">

            <div class="mb-2">
                <span sec:authorize="isAuthenticated()" th:if="${cinema.active}" class="badge text-bg-success align-middle mx-1">Activo</span>
                <span sec:authorize="isAuthenticated()" th:if="${cinema.active} == false" class="badge text-bg-danger align-middle mx-1">Inactivo</span>

                <a title="Editar" sec:authorize="isAuthenticated()" th:href="@{/cinemas/{id}/edit(id=${cinema.id})}" role="button" class="mx-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                    </svg></a>
                <a title="Borrar" sec:authorize="isAuthenticated()" th:href="@{/cinemas/{id}/delete(id=${cinema.id})}" role="button" class="mb-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg></a>
            </div>

            <a  th:href="@{/cinemas/{id}(id=${cinema.id})}">
                <img th:if="${cinema.image == ''}" src="img/noCinema.png" alt="Sin foto" class="d-block cinema rounded border border-4 border-white">
                <img th:if="${cinema.image != ''}" th:src="${cinema.image}" th:alt="${cinema.name}" class="d-block cinema rounded border border-4 border-white">
            </a>

            <div class="mt-1 mb-5">
                <a th:href="@{/cinemas/{id}(id=${cinema.id})}" class="text-decoration-none">
                    <h6 th:text="${cinema.name}"></h6>
                </a>

                <div class="my-1">
                    <a th:if="${cinema.getCountRooms() > 0}" title="Cartelera" th:href="@{/rooms/cinema/{id}(id=${cinema.id})}" role="button" class="mx-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
                            <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
                        </svg></a>
                    <span th:unless="${cinema.getCountRooms() > 0}" title="Cartelera" aria-disabled="true" class="mx-1 text-body-tertiary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
                            <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
                        </svg>
                    </span>

                    <a title="Web" th:href="@{${cinema.url}}" role="button" class="mx-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                        </svg></a>

                    <small th:text="${cinema.address.city}" class="badge text-bg-secondary mx-1"></small>

                    <small th:text="|${cinema.getCountRooms()} salas|" class="badge text-secondary bg-white mx-1"></small>
                </div>
            </div>

        </div>

    </div>

    <div th:replace="~{fragments/pagination :: pagination}"></div>

    <div class="text-center my-4">
        <a class="btn btn-outline-primary" th:href="@{/cinemas/create}"
           sec:authorize="isAuthenticated()" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
            </svg><span class="align-middle">&nbsp;&nbsp;Crear&nbsp;nuevo&nbsp;cine</span></a>

        <a class="btn btn-outline-success" th:href="@{/}" role="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-camera-reels" viewBox="0 0 16 16">
            <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
            <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
            <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
        </svg><span class="align-middle">&nbsp;&nbsp;Estrenos</span></a>
    </div>

</div>

</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>