<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario de usuario</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilo.css}"/>
</head>
<body class="d-flex flex-column vh-100">
<div th:replace="~{navbar :: navbar}"></div>
<div class="flex-grow-1">

<div class="container myContainer mt-5 shadow text-center">

    <h1 class="cartelera-h1 my-4" th:if="${user.id}">Modificar usuario «<span th:text="${user.username}"></span>»</h1>
    <h1 class="cartelera-h1 my-4" th:unless="${user.id}">Crear nuevo usuario</h1>

    <div th:if="${error}">
        <div class="alert alert-danger" role="alert" >
            <p th:text="${error}"></p>
        </div>
        <a type="button" class="btn btn-primary" th:href="@{/users}">Volver</a>
    </div>

    <div class="row d-flex justify-content-center" th:if="${error == null}">

        <div class="col-sm-12 col-md-6 w-auto">

            <img th:src="${(user.image!= null and user.image!= '')? user.image : '../../img/noUser.png'}" class="d-block user rounded shadow mb-4"
                 th:alt="${(user.image!= null and user.image!= '')? user.name + ' ' + user.surname : 'Sin imagen'}">

        </div>

        <div class="col-sm-12 col-md-6 w-sm-100 w-md-50">

            <form th:action="@{/users}" method="POST" th:object="${user}" class="bg-white p-sm-3 p-md-5">
                <input type="hidden" id="id" name="id" th:field="*{id}" />


                <div class="mb-4">
                    <label for="image" class="form-label">Enlace a foto</label>
                    <input type="url" class="form-control" id="image" th:field="*{image}" />
                    <div class="text-danger" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></div>
                </div>

                <div class="mb-4">
                    <label for="name" class="form-label">Nombre *</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" required />
                    <div class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                </div>

                <div class="mb-4">
                    <label for="surname" class="form-label">Apellidos *</label>
                    <input type="text" class="form-control" id="surname" th:field="*{surname}" required />
                    <div class="text-danger" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
                </div>

                <div class="mb-4">
                    <label for="username" class="form-label">Usuario *</label>
                    <input type="text" class="form-control" id="username" th:field="*{username}" required />
                    <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                </div>

                <div class="mb-4">
                    <label for="email" class="form-label">Correo *</label>
                    <input type="email" class="form-control" id="email" th:field="*{email}" required />
                    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                </div>

                <div class="mb-4">
                    <label th:if="${user.id}" for="password" class="form-label">Cambiar contraseña (no obligatorio)</label>
                    <label th:unless="${user.id}" for="password" class="form-label">Contraseña *</label>
                    <input type="password" class="form-control" id="password" th:field="*{password}">
                    <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                </div>

                <div class="mt-5">
                    <a class="btn btn-outline-primary" th:href="@{/users}" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg><span class="align-middle">&nbsp;&nbsp;Cancelar</span></a>
                    <button type="submit" class="btn btn-outline-success" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
                        </svg><span class="align-middle">&nbsp;&nbsp;Guardar</span></button>
                </div>
            </form>

        </div>

    </div>

</div>

</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>