<div th:fragment="pagination" th:if="${page?.totalPages gt 0}" class="row d-flex justify-content-center align-items-center">

    <!--Info-->
    <div class="col-12 col-xl-6 d-flex justify-content-center align-items-center">
        <p th:if="${page?.totalPages gt 1}"
           th:text="${page.numberOfElements} + ' ' + ${entity} + ', de la ' + ${page.startElement}
           + ' a la ' + ${page.endElement} + ', de ' + ${page.totalElements} +  ' ' + ${entity} + '.'"></p>
        <p th:unless="${page?.totalPages gt 1}" th:text="${page.numberOfElements} +  ' ' + ${entity} + '.'"></p>
    </div>

    <nav th:if="${page?.totalPages gt 1}" class="col-12 col-xl-6 d-flex justify-content-center align-items-center">
        <ul class="pagination pagination-sm">

            <!--Inicio-->
            <li class="page-item">
                <a th:href="@{|/${returnUrl}|(page=0, size=${page.pageSize})}"
                   th:aria-label="${page.currentPage == 0? 'Inicio (desactivado)' : 'Inicio'}"
                   th:class="${page.currentPage == 0? 'page-link disabled' : 'page-link'}">&LeftArrowBar;</a>
            </li>

            <!--Anterior-->
            <li class="page-item">
                <a th:href="@{|/${returnUrl}|(page=${page.currentPage - 1}, size=${page.pageSize})}"
                   th:aria-label="${page.currentPage == 0? 'Anterior (desactivado)' : 'Anterior'}"
                   th:class="${page.currentPage == 0? 'page-link disabled' : 'page-link'}">&LeftArrow;</a>
            </li>

            <!--Páginas-->
            <li th:each="pageNumber : ${#numbers.sequence(page.startPage, page.endPage)}"
                th:if="${pageNumber >= 0 && pageNumber < page.totalPages}"
                class="page-item" th:classappend="${pageNumber == page.currentPage}? 'active'">
                <a th:href="@{|/${returnUrl}|(page=${pageNumber}, size=${page.pageSize})}"
                   th:text="${pageNumber + 1}"
                   class="page-link"></a>
            </li>

            <!--Siguiente-->
            <li class="page-item">
                <a th:href="@{|/${returnUrl}|(page=${page.currentPage + 1}, size=${page.pageSize})}"
                   th:aria-label="${page.currentPage == page.totalPages - 1? 'Siguiente (desactivado)' : 'Siguiente'}"
                   th:class="${page.currentPage == page.totalPages - 1? 'page-link disabled' : 'page-link'}">&RightArrow;</a>
            </li>

            <!--Fin-->
            <li class="page-item">
                <a th:href="@{|/${returnUrl}|(page=${page.totalPages - 1}, size=${page.pageSize})}"
                   th:aria-label="${page.currentPage == page.totalPages - 1? 'Fin (desactivado)' : 'Fin'}"
                   th:class="${page.currentPage == page.totalPages - 1? 'page-link disabled' : 'page-link'}">&RightArrowBar;</a>
            </li>

        </ul>
    </nav>

</div>
