@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

body {
    min-height: 100vh;
    background: url("/img/fondo.jpg") center/cover no-repeat fixed;
}

#navbarTop {
    background: linear-gradient(to bottom, moccasin, rgba(255, 255, 255, 0.8));
}

footer {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 10%, moccasin 90%);
}

#copyright {
    background: linear-gradient(to bottom, Tan 10%, moccasin 90%);
}

.myContainer {
    background: rgba(255, 255, 255, 0.75);
    padding: 0.5em 3em 3em;
    border-radius: 20px;
}

#myForm {
    width: 280px;
}

#myForm .custom-select {
    width: 280px;
    height: 37px;
    background-color: white;
    border: none;
    padding: 5px 10px;
}

.navMenu {
    width: 100%;
}

.register {
    width: 150px;
}

.cartelera-h1, th {
    color: #808000ff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.cartelera-h1 {
    font-size: 3em;
}

.cartelera-btn {
    font-size: 15px;
}

.cartelera-h2, th {
    font-size: x-large;
    text-align: center;
}

td, .card-title, .card-text, .list-group-item, .form-label {
    font-size: 18px;
    text-align: center;
}

.poster {
    width: 200px;
    height: auto;
}