@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

body {
    background: url("/img/fondo.jpg") center/cover no-repeat fixed;
}

#navbarTop {
    background: linear-gradient(to bottom, moccasin, rgba(255, 255, 255, 0.8));
}

.navLinkColor {
    color: Olive;
}

footer {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 10%, moccasin 90%);
}

#copyright {
    background: linear-gradient(to bottom, Tan 10%, moccasin 90%);
}

.cartelera-h1 {
    font-size: 3em;
}

th {
    font-size: 1.4em;
    text-align: center;
}

.cartelera-h1, th {
    color: Olive !important;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.cartelera-btn {
    font-size: 15px;
}

tr:hover td {
    background-color: LemonChiffon;
}

td, .card-title, .card-text, .list-group-item, .form-label {
    font-size: 18px;
    text-align: center;
}

.poster {
    width: 215px;
    height: 320px;
}

.poster-info {
    width: 300px;
    height: 444px;
}

.poster, .poster-info {
    background-image: url('../img/noFilm.png');
}

a .poster:hover, a .cinema:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.cinema, .cinema-info {
    width: 300px;
    height: 200px;
    background-image: url('../img/noCinema.png');
}

.user {
    width: 256px;
    height: 256px;
    background-image: url('../img/noUser.png');
}

.avatar {
    width: 32px;
    height: 32px;
    background-image: url('../img/noUser.png');
}

.poster, .poster-info, .cinema, .cinema-info, .user {
    background-size: cover;
    background-position: center;
}

#zone {
  display: block;
  border: none;
  background: none;

}

#zone:focus {
  outline: none;
}

.spinner {
  margin: 0 auto;
  border: 5px solid moccasin;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: DarkOrange;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}