@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

body {
    background: url("/img/fondo.jpg") center/cover no-repeat fixed;
}

#navbarTop {
    background: linear-gradient(to bottom, moccasin, rgba(255, 255, 255, 0.8));
}

.navLinkColor {
    color: Olive;
}

footer {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 10%, moccasin 90%);
}

#copyright {
    background: linear-gradient(to bottom, Tan 10%, moccasin 90%);
}

.myContainer {
    background: rgba(255, 255, 255, 0.75);
    padding: 0.5em 3em 3em;
    border-radius: 20px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Cambia el último valor para ajustar la opacidad */
    padding: 10px; /* Ajusta el padding según sea necesario */
    color: #fff; /* Cambia el color del texto si es necesario */
}

.cartelera-h1 {
    font-size: 3em;
}

.cartelera-h1, th {
    color: Olive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.cartelera-h2, th {
    font-size: x-large;
    text-align: center;
}

.cartelera-btn {
    font-size: 15px;
}

td, .card-title, .card-text, .list-group-item, .form-label {
    font-size: 18px;
    text-align: center;
}

.poster {
    width: 215px;
    height: 300px;
}

.poster-info {
        width: 300px;
        height: 420px;
}
.poster, .poster-info {
    background-image: url('../img/noFilm.png');
}

a .poster:hover, a .cinema:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.cinema, .cinema-info {
    width: 300px;
    height: 200px;
    background-image: url('../img/noCinema.png');
}

.user {
    width: 256px;
    height: 256px;
    background-image: url('../img/noUser.png');
}

.poster, .poster-info, .cinema, .cinema-info, .user {
    background-size: cover;
    background-position: center;
}