<!-- Footer -->
<footer class="mt-5">
    <!-- Container -->
    <div class="container mt-3 mb-2">
        <!-- Section: Links -->
        <section>
            <div class="row text-center text-md-start">
                <div class="col-sm-12 col-md-6 col-lg-3 py">
                    <h6 class="text-uppercase navLinkColor">Mapa</h6>

                    <ul class="list-unstyled">
                        <li>
                            <a th:href="@{/}" class="text-dark text-decoration-none">Portada</a>
                        </li>

                        <li>
                            <a th:href="@{/login}" class="text-dark text-decoration-none">Iniciar&nbsp;sesión</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 py">
                    <h6 class="text-uppercase navLinkColor">Cartelera</h6>

                    <ul class="list-unstyled">
                        <li>
                            <a th:href="@{/cinemas}" class="text-dark text-decoration-none">Cines</a>
                        </li>

                        <li>
                            <a th:href="@{/rooms}" class="text-dark text-decoration-none">Cartelera</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 py">
                    <h6 class="text-uppercase navLinkColor">Recursos</h6>

                    <ul class="list-unstyled">
                        <li>
                            <a href="https://github.com/JavGuerra/cartelera-daw"
                               target="_blank" class="text-dark text-decoration-none">Repositorio</a>
                        </li>
                        <li>
                            <a href="https://javguerra.github.io/"
                               target="_blank" class="text-dark text-decoration-none">Autor</a>
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3 py">
                    <!-- Linkedin -->
                    <a class="btn btn-outline-light m-1" href="https://www.linkedin.com/in/javguerra/" target="_blank" role="button">
                        <img width="24px" height="24px" src="/img/icon/in.svg" alt="Linkedin"></a>
                    <!-- Blog -->
                    <a class="btn btn-outline-light m-1"  href="https://javguerra.github.io/" target="_blank" role="button">
                        <img width="24px" height="24px" src="/img/icon/bl.svg" alt="Blog"></a>
                    <!-- GitHub -->
                    <a class="btn btn-outline-light m-1" href="https://github.com/JavGuerra" target="_blank" role="button">
                        <img width="24px" height="24px" src="/img/icon/gh.svg" alt="GitHub"></a>
                    <!-- X -->
                    <a class="btn btn-outline-light m-1" href="https://x.com/javgr" target="_blank" role="button">
                        <img width="24px" height="24px" src="/img/icon/x.svg" alt="X"></a>
                </div>
            </div>
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Container -->

    <!-- Copyright -->
    <div id="copyright" class="text-center p-2 bg-light">
        <small>
            Proyecto&nbsp;final&nbsp;DAW «<a class="text-dark" th:href="@{/}">Cartelera</a>» por&nbsp;Javier&nbsp;Guerra,&nbsp;junio&nbsp;2024&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="text-dark" th:href="@{/legal}">Aviso&nbsp;legal</a>&nbsp;·&nbsp;<a class="text-dark" th:href="@{/privacity}">Privacidad</a>
        </small>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->