<!-- Footer -->
<footer class="bg-light text-center mt-5">
    <!-- Container -->
    <div class="container pt-5 pb-4 border-top border-bottom">
        <!-- Section: Links -->
        <section>
            <div class="row">
                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Mapa</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a th:href="@{/}" class="text-dark text-decoration-none">Portada</a>
                        </li>

                        <li>
                            <a th:href="@{/login}" class="text-dark text-decoration-none">Iniciar&nbsp;sesión</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Cartelera</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a th:href="@{/cinemas}" class="text-dark text-decoration-none">Cines</a>
                        </li>

                        <li>
                            <a th:href="@{/rooms}" class="text-dark text-decoration-none">Cartelera</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Recursos</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://github.com/JavGuerra/cartelera-daw"
                               target="_blank" class="text-dark text-decoration-none">Repositorio</a>
                        </li>
                        <li>
                            <a href="https://javguerra.github.io/"
                               target="_blank" class="text-dark text-decoration-none">Autor</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Section: Links -->

        <!-- Section: Social media -->
        <section class="mt-5">
            <!-- Facebook -->
            <a class="btn btn-outline-light m-1"  href="https://www.facebook.com/" target="_blank" role="button">
                <img width="30px" height="30px" src="/img/icon/fb.svg" alt="Facebook"></a>
            <!-- Twitter -->
            <a class="btn btn-outline-light m-1" href="https://twitter.com/" target="_blank" role="button">
                <img width="30px" height="30px" src="/img/icon/x.svg" alt="X"></a>
            <!-- Instagram -->
            <a class="btn btn-outline-light m-1" href="https://www.instagram.com/" target="_blank" role="button">
                <img width="30px" height="30px" src="/img/icon/ig.svg" alt="Instagram"></a>
            <!-- Linkedin -->
            <a class="btn btn-outline-light m-1" href="https://www.linkedin.com/" target="_blank" role="button">
                <img width="30px" height="30px" src="/img/icon/in.svg" alt="Linkedin"></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Container -->

    <!-- Copyright -->
    <div class="text-center p-3 bg-body">
        Proyecto final DAW «<a class="text-dark" th:href="@{/}">Cartelera</a>» por Javier Guerra, junio 2024
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->