<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
<head>
    <title>Cartelera - Cine de estreno</title>
    <th:replace th:replace="meta" />
</head>
<body class="d-flex flex-column vh-100">
<div th:replace="~{navbar :: navbar}"></div>
<div class="flex-grow-1">

<div class="container mt-5 p-2 p-md-3 p-lg-4 bg-white opacity-75 rounded-4 shadow text-center">

    <h1 class="cartelera-h1 my-4">Bienvenido a todos los estrenos<span th:if="${selectedCity != '' && error == null}" th:text="| de ${selectedCity}|"></span></h1>

        <h2 th:if="${error != null || #lists.isEmpty(premieres)}"
            th:text="${error}" role="alert" class="col mt-3 alert alert-info"></h2>

        <div th:if="${error == null && #lists.size(premieres) > 0}" class="row d-flex justify-content-center">

            <div class="col-sm-12 col-lg-5 col-xl-6">

                <div id="premiereCarousel" class="carousel slide mb-5 mb-lg-1" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="premiere, stat : ${premieres}">
                        <div th:classappend="'carousel-item' + (${stat.index == 0}? ' active' : '')" th:id="'diapositiva-' + ${premiere.id}">
                            <a th:href="@{/rooms/{id}(id=${premiere.id})}">
                                <img th:src="${premiere.film.poster}" class="d-block w-100" th:alt="${premiere.film.title}">
                                <div class="carousel-caption d-none d-md-block">
                                    <h4 th:text="${premiere.film}"></h4>
                                    <p th:text="${premiere.cinema.name}"></p>
                                </div>
                            </a>
                        </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#premiereCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#premiereCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>

            </div>

            <div class="col-sm-12 col-lg-7 col-xl-6">

                <div class="row">
                    <div class="col mb-3 mr-3 d-flex flex-column align-items-center" th:each="premiere, stat : ${premieres}">
                        <a th:href="@{/rooms/{id}(id=${premiere.id})}">
                            <img th:src="${premiere.film.poster}" th:alt="${premiere.film.title}" class="d-block poster rounded border border-4 border-white">
                        </a>
                        <a th:href="@{/rooms/{id}(id=${premiere.id})}" class="text-decoration-none mt-2">
                            <h6 th:text="${premiere.film}" class="mb-0"></h6>
                        </a>
                        <a th:href="@{/cinemas/{id}(id=${premiere.cinema.id})}" class="text-decoration-none mb-3">
                            <small th:text="${premiere.cinema.name}"></small>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>
