<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Películas</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilo.css}"/>
</head>
<body class="d-flex flex-column vh-100">
<div th:replace="~{navbar :: navbar}"></div>
<div class="flex-grow-1">

<div class="container myContainer mt-5 shadow text-center">

    <h1 class="cartelera-h1 mt-4">Películas <span th:if="${selectedCity != ''}" th:text="| de ${selectedCity}|"></span></h1>

    <div class="col mt-3 alert alert-info" role="alert" th:if="${#lists.isEmpty(films)}">
        Actualmente no hay ninguna película para mostrar.
    </div>

    <div class="row mt-4" th:if="${#lists.size(films) > 0}">

        <div th:each="film: ${films}" class="col mb-4 me-3 d-flex flex-column align-items-center">

            <div class="row">

                <div class="col d-flex flex-column gap-0 align-items-center w-100 me-0 pt-3 bg-light">

                    <a th:href="@{/films/{id}(id=${film.id})}" class="text-decoration-none">
                        <img th:if="${film == null or film.poster ==null or film.poster == ''}" src="img/noFilm.png" alt="Sin película" class="d-block poster rounded">
                        <img th:if="${film.poster != null and film.poster != ''}" th:src="${film.poster}" th:alt="${film.title}" class="d-block poster rounded">
                    </a>

                    <a th:href="@{/films/{id}(id=${film.id})}" class="text-decoration-none mt-2">
                        <h6 th:text="${film}" class="mb-0"></h6>
                    </a>
                    <div class="mb-1">
                        <small th:text="${film?.classification?: ''}" class="text-decoration-none badge text-secondary text-bg-light me-2"></small>
                        <small th:text="${film?.duration?: ''}" class="text-decoration-none badge text-secondary text-bg-light me-2"></small>
                        <small th:if="${film.rating!= null}" th:text="${'⭐' * film.rating.intValue()}"></small>
                    </div>
                    <div class="mb-3">
                        <span sec:authorize="isAuthenticated()" th:if="${!#lists.isEmpty(film.rooms) and selectedCity == ''}" class="badge text-bg-primary mx-1">En salas</span>
                        <span sec:authorize="isAuthenticated()" th:if="${#lists.isEmpty(film.rooms) and selectedCity == ''}" class="badge text-bg-warning mx-1">Sin salas</span>
                        <span sec:authorize="isAuthenticated()" th:if="${film.active}" class="badge text-bg-success mx-1">En exhibición</span>
                        <span sec:authorize="isAuthenticated()" th:if="${!film.active}" class="badge text-bg-danger mx-1">Sin exhibición</span>
                    </div>

                </div>

                <div class="col d-flex flex-column align-items-center w-auto ps-2">

                    <a title="Cartelera"  th:if="${film != null}" th:href="@{/rooms/film/{id}(id=${film.id})}" role="button" class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-collection" viewBox="0 0 16 16">
                            <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"/>
                        </svg>
                    </a>
                    <a title="Editar" sec:authorize="isAuthenticated()" th:href="@{/films/{id}/edit(id=${film.id})}" role="button" class="mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                        </svg>
                    </a>
<!--                    <a title="Borrar" sec:authorize="isAuthenticated()" th:href="@{/films/{id}/delete(id=${film.id})}" role="button" class="mb-2">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">-->
<!--                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />-->
<!--                        </svg>-->
<!--                    </a>-->

                </div>

            </div>

        </div>

    </div>

    <div th:if="${#lists.size(films) > 0}" class="text-center">
        Actualmente hay <span th:text="${#lists.size(films)}"></span> películas.
    </div>

    <div class="text-center mt-4">
        <a class="btn btn-outline-primary" th:href="@{/films/create}"
           sec:authorize="isAuthenticated()" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-film" viewBox="0 0 16 16">
                <path d="M0 1a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm4 0v6h8V1H4zm8 8H4v6h8V9zM1 1v2h2V1H1zm2 3H1v2h2V4zM1 7v2h2V7H1zm2 3H1v2h2v-2zm-2 3v2h2v-2H1zM15 1h-2v2h2V1zm-2 3v2h2V4h-2zm2 3h-2v2h2V7zm-2 3v2h2v-2h-2zm2 3h-2v2h2v-2z"/>
            </svg><span class="align-middle">&nbsp;&nbsp;Crear&nbsp;nueva&nbsp;película</span></a>
        <a class="btn btn-outline-success" th:href="@{/}" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-camera-reels" viewBox="0 0 16 16">
                <path d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"/>
                <path d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"/>
                <path d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg><span class="align-middle">&nbsp;&nbsp;Estrenos</span></a>
    </div>

</div>

</div>
<div th:replace="~{footer :: footer}"></div>
</body>
</html>