<!Doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formulario Film</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/estilo.css}"/>
</head>
<body>
<div th:replace="~{navbar :: navbar}"></div>

<div class="container myContainer mt-5 shadow text-center">
    <div class="row mt-5">
        <h1 class="cartelera-h1" th:if="${film.id}">Modificar «<span th:text="${film.title}"></span>»</h1>
        <h1 class="cartelera-h1" th:if="${film.id} == null">Crear nueva película</h1>
        <div class="col"></div>
        <div class="col">
            <div th:if="${error}">
                <div class="alert alert-danger" role="alert">
                    <p th:text="${error}"></p>
                </div>
                <a type="button" class="btn btn-primary" th:href="@{/films}">Volver</a>
            </div>
            <form th:if="${error} == null" th:action="@{/films}" method="POST" th:object="${film}">
                <input type="hidden" id="id" name="id" th:field="*{id}"/>
                <img class="mb-4" th:src="*{poster}" th:alt="*{title}"/>

                <div class="mb-4">
                    <label for="poster" class="form-label">Enlace al poster *</label>
                    <input type="url" class="form-control" id="poster" th:field="*{poster}" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('poster')}" th:errors="*{poster}"></div>
                </div>

                <div class="mb-4">
                    <label for="title" class="form-label">Título *</label>
                    <input type="text" class="form-control" id="title" th:field="*{title}" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
                </div>

                <div class="mb-4">
                    <label for="year" class="form-label">Año *</label>
                    <input type="number" class="form-control" id="year" th:field="*{year}" min="1900" pattern="^\d{4}$" required>
                    <div class="text-danger" th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></div>
                </div>

                <div class="mb-4">
                    <label for="synopsis" class="form-label">Sinopsis *</label>
                    <textarea rows = "5" cols = "60" class="form-control" id="synopsis" th:field="*{synopsis}" required></textarea>
                    <div class="text-danger" th:if="${#fields.hasErrors('synopsis')}" th:errors="*{synopsis}"></div>
                </div>

                <div class="mb-4">
                    <label for="review" class="form-label">Enlace a la reseña</label>
                    <input type="url" class="form-control" id="review" th:field="*{review}">
                    <div class="text-danger" th:if="${#fields.hasErrors('review')}" th:errors="*{review}"></div>
                </div>

                <div class="mb-4">
                    <label for="duration" class="form-label">Duración</label>
                    <input type="number" class="form-control" id="duration" th:field="*{duration}" min="1" pattern="^(\d+)?$">
                    <div class="text-danger" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></div>
                </div>

                <div class="mb-4">
                    <label for="country" class="form-label">País</label>
                    <input type="text" class="form-control" id="country" th:field="*{country}">
                </div>

                <div class="mb-4">
                    <label for="company" class="form-label">Compañía</label>
                    <input type="text" class="form-control" id="company" th:field="*{company}">
                </div>

                <div class="mb-4">
                    <label for="trailer" class="form-label">Enlace al tráiler</label>
                    <input type="url" class="form-control" id="trailer" th:field="*{trailer}">
                    <div class="text-danger" th:if="${#fields.hasErrors('trailer')}" th:errors="*{trailer}"></div>
                </div>

                <div class="mb-4">
                    <label for="director" class="form-label">Director(es)</label>
                    <input type="text" class="form-control" id="director" th:field="*{director}">
                </div>

                <div class="mb-4">
                    <label for="actor" class="form-label">Actor(es)</label>
                    <input type="text" class="form-control" id="actor" th:field="*{actor}">
                </div>

                <div class="mb-4">
                    <label for="music" class="form-label">Compositor(es)</label>
                    <input type="text" class="form-control" id="music" th:field="*{music}">
                </div>

                <div class="mb-4">
                    <label for="photography" class="form-label">Fotografo(s)</label>
                    <input type="text" class="form-control" id="photography" th:field="*{photography}">
                </div>

                <div class="mb-4">
                    <label for="script" class="form-label">Gionista(s)</label>
                    <input type="text" class="form-control" id="script" th:field="*{script}">
                </div>

                <div class="mb-4">
                    <label for="genres" class="form-label">Géneros <small class="text-muted">(multiselección)</small></label>
                    <select name="genres" class="form-control" id="genres" th:field="*{genres}" multiple>
                        <option th:each="genre : ${T(com.carteleradaw.springboot.web.app.entities.enums.Genre).values()}"
                                th:value="${genre.name()}" th:text="${genre.toString()}"></option>
                    </select>
                </div>

                <div class="mb-4">
                    <label class="form-label">Clasificación</label>
                    <div class="form-inline d-flex justify-content-evenly">
                        <div th:each="classification : ${T(com.carteleradaw.springboot.web.app.entities.enums.Classification).values()}"
                             class="custom-control custom-radio custom-control-inline">
                            <input type="radio" th:value="${classification.name()}" id="${'opt'+classification.ordinal()}"
                                   name="classification" class="custom-control-input" th:field="*{classification}">
                            <label class="custom-control-label" for="${'opt'+classification.ordinal()}" th:text="${classification}"></label>
                        </div>
                    </div>
                </div>

                <label class="form-label">Valoración</label>
                <div class="form-inline d-flex justify-content-evenly mb-4">
                    <div th:each="rating, stat : ${ratings}" class="custom-control custom-radio custom-control-inline">
                        <input type="radio" th:value="${rating}" id="option${stat.index + 1}" name="options" class="custom-control-input" th:field="*{rating}">
                        <label class="custom-control-label" for="option${stat.index + 1}" th:text="${rating}"></label>
                    </div>
                    <div class="text-danger" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></div>
                </div>

                <a class="btn btn-outline-primary" th:href="@{/films}">Cancelar</a>
                <button type="submit" class="btn btn-outline-success">Guardar</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

<div th:replace="~{footer :: footer}"></div>
</body>
</html>